.container {
  margin: auto;
  max-width: 800px;
  font-family: sans-serif;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav-link-item {
  padding-right: 2rem;
}

.footer {
  position: absolute; 
  bottom: 0;
}

.footer-icons {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.footer-icon-item {
  padding-right: 1rem;
}